<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>All Cats</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="jquery-3.4.1.min.js"></script>
        <script>
                $(document).ready(function(){
                    $(".formid").submit(function(e){
                        e.preventDefault();
                        $.ajax({
                            url: "/subappt",
                            method: "POST",
                            data : $(this).serialize(),
                            success: function(response){
                                console.log(response);
                                alert(response.success);
                                $(".formid").trigger('reset');
                            },
                            error : function(response){
                                console.log(response);
                                alert(response.responseJSON.error);
                            }
                        })
                    })
                })
            </script>
    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(#0798c4, #007da2);">
                <a class="navbar-brand" href="#" style="color:#fcfdfe; font-family: 'Satisfy', cursive; font-size:20px;">Ruff 'n Snuggle</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/caring" style="color:#fcfdfe; font-family: 'Didact Gothic', sans-serif; font-size:16px;" >Caring For Your Pet&nbsp;</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#fcfdfe;font-family: 'Didact Gothic', sans-serif; font-size:16px;">
                            All Animals&nbsp;
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/all_dogs" style="font-family: 'Didact Gothic', sans-serif; font-size:14px;">Dogs</a>
                                <a class="dropdown-item" href="/all_cats" style="font-family: 'Didact Gothic', sans-serif; font-size:14px;">Cats</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/game/home" style="color:#fcfdfe; font-family: 'Didact Gothic', sans-serif; font-size:16px; width:200px;" >Find your perfect match!&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" style="font-size:16px; color:white; margin-left:390px; font-family: 'Didact Gothic', sans-serif; font-size:16px;">Welcome {{user.first_name}}!&nbsp;</a>
                        </li>
                        <form class="form-inline mt-2 mt-md-0" action="/logout">
                            <button class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit" style="font-family: 'Didact Gothic', sans-serif; font-size:12px;">Sign Out</button>
                        </form>
                    </ul>
                </div>
            </nav>
        <h1 style="text-align: center; font-family:'Satisfy', cursive; font-size: 70px; margin-top: 30px; margin-bottom: -30px;">Your Liked Pets:</h1>
        {% for i in all_liked_pets %}
        <h3 style="text-align: center; margin-top: 20px; font-family: 'Alegreya Sans SC', sans-serif; font-size:50px;">{{i.name}}</h3>
        <div class="container">
            <div class="row" style="height:415px;">
                <div class="col" style="width: 500px;">
                <img src={{i.photo.url}} style="width:90%; margin-left: 10%;">
                <form action="/delete/{{i.id}}" method="POST">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-block" style="color:#fcfdfe; background-image: linear-gradient(#0798c4, #007da2); margin-top: 10px; width: 390px; margin-left: 60px; font-family: 'Didact Gothic', sans-serif;">Remove {{i.name}} from my favorites</button>
                </form>
                </div>
                <div class="col">
                {% if i.age == 1%}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Age: Young</p>
                {% endif %}
                {% if i.age == 2 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Age: Young adult </p>
                {% endif %}
                {% if i.age == 3 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Age: Senior </p>
                {% endif %}
                    <br>
                {% if i.size == 1 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Size: Small & adorable</p>
                {% endif %}
                {% if i.size == 2 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Size: Medium & beautiful </p>
                {% endif %}
                {% if i.size == 3 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Size: Large & in charge </p>
                {% endif %}
                <br>
                {% if i.energy == 1 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Energy level: Lazy snuggle bug </p>
                {% endif %}
                {% if i.energy == 2 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Energy level: The perfect mix of lazy and active </p>
                {% endif %}
                {% if i.energy == 3 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Energy level: Full of energy </p>
                {% endif %}
                <br>
                {% if i.friendly == 1 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Friendliness: Independent and prefers not to play with others (animals and children alike) </p>
                {% endif %}
                {% if i.friendly == 2 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Friendliness: Enjoys playing with others... most of the time.</p>
                {% endif %}
                {% if i.friendly == 3 %}
                    <p style="font-weight:bold; display:inline-block; font-family: 'Didact Gothic', sans-serif;">Friendliness: Loves every animal and human alike!</p>
                {% endif %}
                <p style="font-weight:bold; display:inline-block;font-family: 'Didact Gothic', sans-serif;">Description: {{i.desc}}</p>
                </div>
                <form action="/subappt" method="POST" class="formid">
                    {% csrf_token %}
                    <input type="datetime-local" name="appt" style="margin-left:600px;">
                    <input type="hidden" name="this_pet" value="{{i.id}}">
                    <button type="submit" class="btn btn-block" style="color:#fcfdfe; display:inline-block; background-image: linear-gradient(#0798c4, #007da2); width: 150px; margin-left: 870px; margin-top:-60px; font-family: 'Didact Gothic', sans-serif;">Schedule now!</button>
                </form>
            </div>
        <hr/>
        {% endfor %}
        </div>








        

        
            
    </body>
</html>
