<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    {% load static %}	
    
    <link rel="stylesheet" href="{% static 'app_1/css/stylesheet.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    


    <style>

    </style>

</head>

<div class='box'>
    <div style='display: inline-block; margin: 20px 30px 30px 30px;'>
        <button id='/game/{{animal}}/{{size}}/1'><img src = "{% static 'app_1/images/bb.png'%}"></button>
    </div>
    <div style='display: inline-block; margin: 20px 30px 30px 30px;'>
        <button id='/game/{{animal}}/{{size}}/2'><img src = "{% static 'app_1/images/mid.png'%}"></button>
    </div>
    <div style='display: inline-block; margin: 20px 30px 30px 30px;'>
        
        <button id='/game/{{animal}}/{{size}}/3'><img src = "{% static 'app_1/images/old.png'%}"></button>
    </div>

<div class=talk>
        <p>Do you prefer a young bright eyed animal or a sophisticated elder {{animal}}?</p>
</div>
