

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    {% load static %}	
    
    <link rel="stylesheet" href="{% static 'app_1/css/stylesheet.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    


    <style>

    </style>

</head>
<body>
  
<div class=header>
<div class=big_ass_cloud>
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
{% if arr_len > 5 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 6 %}
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 7 %}
<img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 8 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
{% endif %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
{% if arr_len > 5 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 6 %}
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 7 %}
<img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 8 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
{% endif %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
{% if arr_len > 5 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 6 %}
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 7 %}
<img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 8 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
{% endif %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
{% if arr_len > 5 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 6 %}
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 7 %}
<img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 8 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
{% endif %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
<img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
{% if arr_len > 5 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 6 %}
<img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 7 %}
<img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
{% endif %}
{% if arr_len > 8 %}
<img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
{% endif %}
</div>

<div class=big_ass_cloud2>
    
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
    <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
    {% if arr_len > 5 %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 6 %}
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 7 %}
    <img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 8 %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
    {% endif %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
    <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
    {% if arr_len > 5 %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 6 %}
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 7 %}
    <img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 8 %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
    {% endif %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
    <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
    {% if arr_len > 5 %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 6 %}
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 7 %}
    <img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 8 %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
    {% endif %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
    <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
    <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
    {% if arr_len > 5 %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 6 %}
    <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 7 %}
    <img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
    {% endif %}
    {% if arr_len > 8 %}
    <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
    {% endif %}
    </div>
    <div class=big_ass_cloud3>
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
        <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
        {% if arr_len > 5 %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 6 %}
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 7 %}
        <img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 8 %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
        {% endif %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
        <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
        {% if arr_len > 5 %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 6 %}
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 7 %}
        <img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 8 %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
        {% endif %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
        <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
        {% if arr_len > 5 %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 6 %}
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 7 %}
        <img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 8 %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
        {% endif %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 0width }}px; margin: {{0marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 1width }}px; margin: -{{1marg}}px 0 0 0px;' class = cloud>
        <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 2width }}px; margin: {{2marg}}px 0 0 0;'class = cloud>
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 3width }}px; margin: -{{3marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 4width }}px; margin: {{4marg}}px 0 0 0;' class = cloud>
        <img src = "{% static 'app_1/images/cloud3.png'%}" style= 'width: {{ 5width }}px; margin: -{{5marg}}px 0 0 0;' class = cloud>
        {% if arr_len > 5 %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 6width }}px; margin: {{6marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 6 %}
        <img src = "{% static 'app_1/images/cloud2.png'%}" style= 'width: {{ 7width }}px; margin: -{{7marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 7 %}
        <img src = "{% static 'app_1/images/cloud3.png'%}" style = 'width: {{ 8width }}px; margin: {{8marg}}px 0 0 0;' class = cloud>
        {% endif %}
        {% if arr_len > 8 %}
        <img src = "{% static 'app_1/images/cloud1.png'%}" style= 'width: {{ 9width }}px; margin: -{{9marg}}px 0 0 0;' class = cloud>
        {% endif %}
        </div>
<div class=bigbg>
  <img src = "{% static 'app_1/images/bigbg.png'%}">
</div>
</div>
    <canvas width="1536px" height="280px">
      <h1> hiya </h1>

    </canvas>


    <script>

        const width = 64;
        const height = 64;
        const cycleLoop = [0,1,0,1];
        const movement_speed = 0.1;
        
        let currentLoopIndex = 0;
        let frameCount = 0;
        let positionX = 0; 
        let positionY = 140; 

        var sprite = new Image ();
        sprite.src = "{% static '/app_1/images/fullspritesheet.png' %}";
        sprite.onload = function(){
                init();
            };
        
        let canvas = document.querySelector('canvas');
        let ctx = canvas.getContext('2d');

        function drawFrame(frameX, frameY, canvasX, canvasY){
            ctx.drawImage(sprite, frameX * width, frameY * height, width, height, canvasX, canvasY, width, height);
        }

        function init(){
            window.requestAnimationFrame(walk);
            
        }

        function walk(){
            frameCount++;
            positionX += movement_speed;
            if(frameCount<15){
                window.requestAnimationFrame(walk);
                return;
            }
            frameCount=0;
            ctx.clearRect(0,0, canvas.width, canvas.height);
            drawFrame(cycleLoop[currentLoopIndex], 0, positionX, positionY);
            currentLoopIndex++;
            if (currentLoopIndex >= cycleLoop.length){
                currentLoopIndex = 0;
            }
            window.requestAnimationFrame(walk);
            }
        
    </script>

    <script>
      $(document).ready(function(){
        $(document).on('click', 'button', function(){
          console.log($(this).attr('id'));
          $.ajax({
            url: $(this).attr('id'),
            method: 'get',
            success: function (response){
              console.log(response);
              $('.box').html(response);
            }
          })
        })
      })
    </script>
<div class='box'>
<div style='display: inline-block;'>
      
      <button id='/game/cat'><img src = "{% static 'app_1/images/catsprite.png'%}"></button>
  </div>
<div  style='display: inline-block;'>
    
    <button id='/game/dog'><img src = "{% static 'app_1/images/dogsprite.png'%}"></button>
</div>
<div class=talk>
  <p>You finally get to adopt your PURfect pal!  Do you choose a dog or a cat?</p>

</div>
</div>
    
</body>